.main-container{
    padding-left: 70px;
    padding-top: 0px;
    height: 850px;
   // background-color:green;

    h1{
        color:blue;
            
            
        text-shadow: 2px 2px 2px #CCCCCC;
        font-family: 'Trocchi', serif; font-size: 19px; font-weight: normal; line-height: 48px; 
       }  
   
    .track-details{
        //width: 97%;
        height: 200px;
       // background-color: black;
       display: flex;
       .left{
          // background-color: red;
           width: 60%;
       
       span{

        font-size: 30px;
        color: darkblue;
       }
       .a{
           display: flex;
          // background-color: red;
         margin-top: 35px;
           span{
               font-size: 20px;
               color: black;
           }
       }
    }
   }

   
    .right{
       // background-color: yellow;
        width: 40%;
        height: 30px;
 .members{
     width: 60%;
 }
        
    }
    .task{
        width: 97%;
      // background-color: red;
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        .todo,.processing,.completed{

            width: 30%;
            margin: 1%;
         // background-color: green;
            height: 500;
         //   border:1px solid black;
            ul{
                list-style-type: none;
                margin: 7%;
            }
        }
    }
    
}
@media screen and (max-width: 1320px) {
   
  }
  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-container>*{
    flex: 1 0 21%;
    margin: 5px;
}