.main-container{
    padding-left: 70px;
    padding-top: 0px;
    height: 850px;
   // background-color:green;

    h1{
        color:blue;
            
            
        text-shadow: 2px 2px 2px #CCCCCC;
        font-family: 'Trocchi', serif; font-size: 19px; font-weight: normal; line-height: 48px; 
       }  
   
    .track-details{
        //width: 97%;
        height: 200px;
       //background-color: black;
     //  display: flex;
       width: 100%;
       .left{
          // background-color: red;
           width: 100%;
       
       span{

        font-size: 30px;
        color: darkblue;
       }
       .a{
           display: flex;
         width: 100%;
          // background-color: yellow;
         margin-top: 35px;
           span{
               font-size: 20px;
               color: black;
           }
       }
    }
   }

   
//     .right{
//        // background-color: yellow;
//         width: 40%;
//         height: 30px;
//  .members{
//      width: 60%;
//  }
        
//     }
    .task{
        width: 97%;
      // background-color: red;
        height: 1000px;
        display: flex;
        flex-wrap: wrap;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        .todo,.processing,.completed{

            width: 30%;
            margin: 1%;
         // background-color: green;
            height: 500;
         //   border:1px solid black;
            ul{
                list-style-type: none;
                margin: 7%;
            }
        }
    }
    
}
@media screen and (max-width: 1320px) {
   
  }
  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards-container>*{
    flex: 1 0 21%;
    margin: 5px;
}
.outer{
    width: 100%;
    height: 3500px;
   // background-color: black;
   h1{
    color:blue;
        
        
    text-shadow: 2px 2px 2px #CCCCCC;
    font-family: 'Trocchi', serif; font-size: 19px; font-weight: normal; line-height: 48px; 
   }  
   .search{
       display: flex;
       .search-box{
           margin-left: 60%;
           height: 50px;
           display: flex;
       }
   }
}

.contain{
    width: 90%;
    height: 1500px;
    margin-top: 50px;
    margin-left: 50px;
   // background-color: black;
   .main{
    mat-expansion-panel ul{
        list-style-type: none;
    }

   }
}
.main mat-expansion-panel-header{
height: 60px;


}
.main{
    padding: 30px;
    .post{
        background-color:rgba(232, 232, 232,0.4);
        height: 130px;
        .date{
            display: flex;
            h4{
                padding-left: 80%;
            //font-weight: bold;
            }
        }
    }
}
.create-convo{
   // background-color: yellow;
    mat-expansion-panel .v{
        background-color:rgba(232, 232, 232,0.4);
        input{
            width: 720px;
            height: 30px;
            margin: 8px;
            margin-left: 30px;
            border: none;
            border-radius: 5px;
        }
        textarea{
            height: 100px;
            width: 720px;
            margin: 8px;
            margin-left: 30px;
            border: none;
            border-radius: 5px;
        }
    }
    mat-expansion-panel ul{
        
        list-style-type: none;
    }
    
}
.poc-main-container{
    padding-left: 70px;
    padding-top: 30px;
    
    .image {
        width: 97%;
        height: 350px;
        //background-color: red;
        position: relative;
        
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
     .img{
         background-image: url("../../../../assets/hand.jpg");
        width: 100%;
        height: 350px;
         background-size: cover;
         background-repeat: no-repeat;
         position: absolute;
         z-index: 1;
     }
     .overlay{
         width: 100%;
         height: 350px;
         position: absolute;
         z-index: 2;
         background-color: black;
         opacity: 0.6;
     }
             .text{
                 position: absolute;
                 height: 20%;
                 width: 50%;  
                
                 z-index: 3;
                 margin-top: 10%;
                 margin-left: 22%;
                 .input-group{
                     
                     //width:40% ;
                     width: 100%;
                     height: 65%;
                 }
             }
     
}

}


.content{
    margin-top: 40px;
   // background-color: violet;
    width: 97%;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    .heading{
        padding-left: 40px;
        padding-top: 30px;
    }
    .tab{
        padding-left: 40px;
        .table .thead-dark tr{
            
            height: 60px;
        }
        .table tbody tr{
            height: 60px;
        }
        .table tbody tr:hover{
            background-color:lightgrey;
        }
    }
}


.b:hover{
    background-color:#004a9f;
    color: white;
    
}
 :host ::ng-deep .multiselect-dropdown .dropdown-btn {
     display: inline-block;
     border: 1px solid #adadad;
     width: 100%;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: 12px;
     font-weight: 400;
     line-height: 1.1;
     text-align: left;
     vertical-align: middle;
     cursor: pointer;
    background-image: none;
     border-radius: 4px;
     height: 38px;
     margin-top: 15px;
 }