// .card{
//   background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,0.8) 0%, rgba(2,83,185,0.6) 100.2% );
//   color:black;
//   .card-heading{
//    // background-color:lightblue;
//     height: 80px;
//   h1{
//    // color:blue;
//     position: absolute;
//     top: 8%; 
    
//     transform: translate(50%,-50%);
//     text-transform: uppercase;
//     font-family: verdana;
//     font-size: 1.3em;
//     font-weight: 700;
//     color:white;
//     text-shadow: 1px 1px 1px #919191,
//         1px 2px 1px #919191,
//         1px 3px 1px #919191,
//         1px 4px 1px #919191,
//         1px 5px 1px #919191,
//         1px 6px 1px #919191,
//         1px 7px 1px #919191,
//         1px 8px 1px #919191,
//         1px 9px 1px #919191,
//         1px 10px 1px #919191,
//     1px 18px 6px rgba(16,16,16,0.4),
//     1px 22px 10px rgba(16,16,16,0.2),
//     1px 25px 35px rgba(16,16,16,0.2),
//     1px 30px 60px rgba(16,16,16,0.4);
          
// text-shadow: 2px 2px 2px #CCCCCC;
// //  font-size: 19px; font-weight: normal; line-height: 48px; 
//   }
// }

//}
.card:hover{
    transform: scale(1);
    // cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
    
  }

.card-detail-container {
    display: flex;
    justify-content: space-between;
}

.end-date-value>h3 {
    color: red;
}

.card-title {
    font-size:20px;
    transition:1s;
    font-family:sans-serif;
    font-style: oblique;
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
